pytorch
torchvision
torchaudio
cudatoolkit
pip
ipython
jedi==0.17.2
parso
flake8
black
mypy
numpy
scipy
matplotlib
requests
pandas
numba
beautifulsoup4
pytables
fastparquet
python-blosc
more-itertools
tqdm
ipykernel